.bg1{
    background-color: #fb4e71;
    /* height: 100%; */
    /* padding: 20px; */
background-size: cover;
height: 180px;
}
.dz{
    background-color: #e6f6ff;
}
.d1{
    margin-left: 80px;
}
.bg2{
    height: 180px;
    margin-bottom: 10px;
}
.b1{
    margin-top: 250px;
}
.ds2{
    margin-left: 30px;
}